# 0. Tools to program using Python: notebook.
* A notebook is divided in cells (code + markdown).
* Learn more about markdown: https://www.markdowntutorial.com/ | Markdown cheatsheet: https://www.markdownguide.org/cheat-sheet/
* Tips to work with notebooks: https://towardsdatascience.com/7-essential-tips-for-writing-with-jupyter-notebook-60972a1a8901

---

* Kernel concept.
* See the machine state.
* Access the directories space.

<img src="https://docs.jupyter.org/en/latest/_images/notebook_components.png"/>

# 1. First program with Python: "Hello World"

**Hello World**

In [2]:
# Hello World
print('Hello World')

Hello World

**Variable of type string and print**

In [3]:
# Variable with type string and print
text = 'Hello World'
print(text)

Hello World

**One line comment**

In [4]:
# One line comment

**Multiline comment**

In [5]:
'''
Multiline comment:
1.
2.
3.
'''

'\nMultiline comment:\n1.\n2.\n3.\n'

# 2. Variables

* Name
* Value
* Data type

**Declaration and use of variables**

In [6]:
# Variable declaration
name = "Juan"  # string
age = 25  # integer
height = 1.75  # float
is_student = True  # boolean

# Using variables
print("Name:", name)
print("Age:", age)
print("Height:", height)
print("Is a student?", is_student)

Name: Juan
Age: 25
Height: 1.75
Is a student? True

**Change variable value**

In [7]:
# Variable declaration
fruit = "apple"

# Display the value
print("My favorite fruit is:", fruit)

# Change the value of the variable
fruit = "banana"

# Display the new value
print("My favorite fruit is now:", fruit)

My favorite fruit is: apple
My favorite fruit is now: banana

**Concatenation of variables**

In [8]:
# Variable declaration
name = "Ana"
age = 30

# Concatenation of variables into a string
message = "Hello, I am " + name + " and I am " + str(age) + " years old."

# Display the message
print(message)

Hello, I am Ana and I am 30 years old.

**User interaction**

In [9]:
# Request user input and store it in a variable
name = input("Please enter your name: ")

# Display a personalized greeting
print("Hello,", name, "Welcome!")

Hello,  Welcome!

# 3. Data types

**Declaration and use of variables**

In [10]:
# Variable declarations with types
name = "Juan" # string
print("Name:", name)

age = 25  # integer
print("Age:", age)

height = 1.75  # float
print("Height:", height)

is_student = True  # boolean
print("Is a student?", is_student)

Name: Juan
Age: 25
Height: 1.75
Is a student? True

**More data types**

In [11]:
# Declaration of a list of numbers
numbers = [1, 2, 3, 4, 5]

# Accessing elements of the list
first_number = numbers[0]
last_number = numbers[-1]

# Displaying elements
print("First number:", first_number)
print("Last number:", last_number)

First number: 1
Last number: 5

In [12]:
# Declaration of a tuple of colors
colors = ("red", "green", "blue")

# Accessing elements of the tuple
first_color = colors[0]
second_color = colors[1]

# Displaying colors
print("First color:", first_color)
print("Second color:", second_color)

First color: red
Second color: green

In [13]:
# Declaration of sets of fruits
fruits1 = {"apple", "banana", "grape"}
fruits2 = {"orange", "grape", "watermelon"}

# Set operations
common_fruits = fruits1.intersection(fruits2)
all_fruits = fruits1.union(fruits2)

# Display results
print("Common fruits:", common_fruits)
print("All fruits:", all_fruits)

Common fruits: {'grape'}
All fruits: {'orange', 'watermelon', 'apple', 'grape', 'banana'}

In [14]:
# Declaration of a dictionary with personal information
information = {
    "name": "Juan",
    "age": 30,
    "city": "Madrid"
}

# Accessing values using keys
name = information["name"]
age = information["age"]

# Displaying information
print("Name:", name)
print("Age:", age)

Name: Juan
Age: 30

**Change data type to a new data type**

In [15]:
variable = 1
print('Value: ', variable)

variable = 'Hello!'
print('Value: ', variable)

Value:  1
Value:  Hello!

# 4. Operators

In [16]:
# Variable declarations
number1 = 10
number2 = 5

# Perform operations
sum_result = number1 + number2  # addition
difference = number1 - number2  # subtraction
product = number1 * number2  # multiplication
quotient = number1 / number2  # division

# Display results
print("Sum:", sum_result)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 15
Difference: 5
Product: 50
Quotient: 2.0

**Sum given the input text**

In [17]:
# Addition of float variables and input
num1 = input('Give me a number: ')
num2 = input('Give me another: ')

sum = float(num1) + float(num2)

print('The sum is: {0}'.format(sum))

The sum is: 12.0

**Advanced operators**

In [18]:
# Module (remainder of division)
module_result = 9 % 4
print("Module:", module_result)

# Exponentiation
power_result = 2 ** 3
print("Exponentiation:", power_result)

Module: 1
Exponentiation: 8

**Comparison**

In [19]:
# Equal to
equal_to = (5 == 5)

# Not equal to
not_equal_to = (6 != 3)

# Greater than
greater_than = (8 > 3)

# Less than or equal to
less_than_or_equal_to = (4 <= 4)

# Combination of comparison operators
combination = (7 < 10 and 3 >= 2)

print("Equal to:", equal_to)
print("Not equal to:", not_equal_to)
print("Greater than:", greater_than)
print("Less than or equal to:", less_than_or_equal_to)
print("Combination:", combination)

Equal to: True
Not equal to: True
Greater than: True
Less than or equal to: True
Combination: True

**Logic operators**

In [20]:
# AND operator
result_and = True and False

# OR operator
result_or = True or False

# NOT operator
result_not = not True

print("AND operator:", result_and)
print("OR operator:", result_or)
print("NOT operator:", result_not)

AND operator: False
OR operator: True
NOT operator: False

**Assigment operators**

In [21]:
# Simple assignment
x = 5

# Assignment with operation
y = 10
y += 3  # Equivalent to y = y + 3

# Multiple assignment
a, b, c = 1, 2, 3

print("x:", x)
print("y:", y)
print("a:", a)
print("b:", b)
print("c:", c)

x: 5
y: 13
a: 1
b: 2
c: 3

**Addition**

In [22]:
# Sum of variables of type int and print
num1 = 2
num2 = 3
sum_result = num1 + num2

print('The sum is: {0}'.format(sum_result))

The sum is: 5

# 5. Decision structures

**Simple decision structure 'if'**

In [23]:
age = 18

if age >= 18:
    print("You are of legal age.")

You are of legal age.

**Decision structure 'if/else'**

In [24]:
age = 15

if age >= 18:
    print("You are of legal age.")
else:
    print("You are a minor.")

You are a minor.

**Decision structure 'if/elif/else'**

In [25]:
score = 85

if score >= 90:
    print("You have an A grade.")
elif score >= 80:
    print("You have a B grade.")
elif score >= 70:
    print("You have a C grade.")
else:
    print("You have a D grade.")

You have a B grade.

**Nested decision structure**

In [26]:
temperature = 28

if temperature > 30:
    print("It's very hot.")
    if temperature > 35:
        print("It's an extremely hot day!")
elif temperature > 20:
    print("The weather is pleasant.")
else:
    print("It's cold.")

The weather is pleasant.

**Ternary operator (if/else in one line)**

In [27]:
age = 20
message = "You are of legal age." if age >= 18 else "You are a minor."
print(message)

You are of legal age.

# 6. Repetition structures

**While repetition structure**

In [28]:
counter = 0

while counter < 5:
    print("Iteration", counter)
    counter += 1

Iteration 0
Iteration 1
Iteration 2
Iteration 3
Iteration 4

**Repetition structure to iterate over a sequence**

In [29]:
fruits = ["apple", "banana", "grape"]

for fruit in fruits:
    print("I like", fruit)

I like apple
I like banana
I like grape

**Repetition structure for with range() function**

In [30]:
for i in range(5):
    print("Number:", i)

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4

**Repetition structure for with a tuple**

In [31]:
colors = ("red", "green", "blue")

for color in colors:
    print("Color:", color)

Color: red
Color: green
Color: blue

**Repetition structure for with a dictionary**

In [32]:
information = {
    "name": "Juan",
    "age": 30,
    "city": "Madrid"
}

for key, value in information.items():
    print(key + ":", value)

name: Juan
age: 30
city: Madrid

**Repetition structure for with sets**

In [33]:
fruits1 = {"apple", "banana", "grape"}
fruits2 = {"orange", "grape", "watermelon"}

common_fruits = fruits1.intersection(fruits2)

for fruit in common_fruits:
    print("Common fruit:", fruit)

Common fruit: grape

**Repetition structure while with an exit condition**

In [34]:
number = 0

while True:
    if number == 5:
        break  # Exits the loop if the number is 5
    print("Number:", number)
    number += 1

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4

# 7. Functions

**Definition and use of a simple function**

In [35]:
def greet(name):
    print("Hello, " + name + "!")

greet("Jon")
greet("Mary")

Hello, Jon!
Hello, Mary!

**Function with parameters and return value**

In [36]:
def addition(a, b):
    result = a + b
    return result

sum_result = addition(5, 3)
print("Result of the addition:", sum_result)

Result of the addition: 8

**Function with default parameters**

In [37]:
def greet(name="Guest"):
    print("Hello, " + name + "!")

greet("Juan")
greet()  # Uses the default value

Hello, Juan!
Hello, Guest!

**Function with a variable number of paramenters (args)**

In [38]:
def add_multiple(*numbers):
    result = 0
    for number in numbers:
        result += number
    return result

total = add_multiple(2, 4, 6, 8)
print("Total sum:", total)

Total sum: 20

**Function with keyword args**

In [39]:
def personal_information(name, age):
    print("Name:", name)
    print("Age:", age)

personal_information(age=30, name="Ana")

Name: Ana
Age: 30

**Anonymous function**

In [40]:
double = lambda x: x * 2
result = double(5)
print("Double of 5:", result)

Double of 5: 10

**Recursive function**

In [41]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

result = factorial(5)
print("Factorial of 5:", result)

Factorial of 5: 120

**Another addition example**

In [42]:
num1 = 2
num2 = 3

def add(num1, num2):
    return num1 + num2

sum_result = add(num1, num2)

print('The sum is: {0}'.format(sum_result))

The sum is: 5

# 8. Reading and writing files

**TXT files**

In [45]:
with open("example.txt", "r") as file:
    content = file.read()
    print(content)

Hello, World!

In [46]:
with open("example.txt", "w") as file:
    file.write("Hello, World!\n")

**CSV files**

In [47]:
import csv

with open("data.csv", newline='') as csvfile:
    reader = csv.reader(csvfile)
    for row in reader:
        print(row)

['Name', 'Age', 'City']
['Alice', '30', 'New York']

In [48]:
import csv

with open("data.csv", mode="w", newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(["Name", "Age", "City"])
    writer.writerow(["Alice", 30, "New York"])

**JSON files**

In [49]:
import json

data = {"name": "Alice", "age": 30, "city": "New York"}

with open("data.json", "w") as jsonfile:
    json.dump(data, jsonfile)

In [50]:
import json

with open("data.json", "r") as jsonfile:
    data = json.load(jsonfile)
    print(data)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

# 9. Errors and exceptions

**Syntax error**

In [51]:
# Syntax error due to a missing parenthesis

print("Hello, world"

SyntaxError: unexpected EOF while parsing (1357744799.py, line 3)

**Execution error**

In [52]:
number = 10 / 0

ZeroDivisionError: division by zero

**Use of exception to capture the error and control it**

In [53]:
try:
    number = 10 / 0  # This will raise a ZeroDivisionError
except ZeroDivisionError:
    print("A division by zero error occurred")

A division by zero error occurred

**Example with 'NameError'**

In [54]:
# Raises a NameError because the variable 'undefined_variable' is not defined
print(undefined_variable)

NameError: name 'undefined_variable' is not defined

In [55]:
try:
    print(undefined_variable)
except NameError:
    print("Variable 'undefince_variable' is not defined")

Variable 'undefince_variable' is not defined

**Example 'TypeError'**

In [56]:
# Generates a TypeError because you're trying to add a string with a integer.
result = "10" + 5

TypeError: can only concatenate str (not "int") to str

In [57]:
try:
    result = "10" + 5
except TypeError:
    print("Type Error: Cannot add a string and an integer")

Type Error: Cannot add a string and an integer

**Multiple exceptions**

In [59]:
try:
    num = int(input("Enter a number: "))
    result = 10 / num
except ValueError:
    print("That's not a valid number!")
except ZeroDivisionError:
    print("You can't divide by zero!")

You can't divide by zero!

**Use of finally**

In [60]:
try:
    file = open("example.txt", "r")
    content = file.read()
except FileNotFoundError:
    print("File not found!")
finally:
    file.close()  # This always runs, even if an exception occurs

# 10. Object oriented programming

In [62]:
class Pokemon:
    def __init__(self, name, type, health):
        self.name = name
        self.type = type
        self.health = health

    def attack(self, target, power):
        print(f"{self.name} attacks {target.name} with a power of {power} points.")
        target.health -= power

    def dodge(self):
        print(f"{self.name} dodges an attack.")

    def evolve(self, new_form):
        print(f"{self.name} has evolved into {new_form}!")
        self.name = new_form

# Create a Pokmon named Pikachu
pikachu = Pokemon("Pikachu", "Electric", 100)

# Create another Pokmon named Charmander
charmander = Pokemon("Charmander", "Fire", 90)

# Pikachu attacks Charmander
pikachu.attack(charmander, 20)

# Charmander dodges Pikachu's attack
charmander.dodge()

# Pikachu evolves into Raichu
pikachu.evolve("Raichu")

# Display information about the Pokmon
print(f"{pikachu.name} has {pikachu.health} health points.")
print(f"{charmander.name} has {charmander.health} health points.")

Pikachu attacks Charmander with a power of 20 points.
Charmander dodges an attack.
Pikachu has evolved into Raichu!
Raichu has 100 health points.
Charmander has 70 health points.

**Encapsulation**

In [69]:
class Pokemon:
    def __init__(self, name, type, health):
        self.name = name
        self.type = type
        self.__health = health  # Private attribute

    def attack(self, target, power):
        print(f"{self.name} attacks {target.name} with a power of {power} points.")
        target.__reduce_health(power)  # Accessing target's private method

    def __reduce_health(self, amount):
        self.__health -= amount
        print(f"{self.name}'s health is now {self.__health}.")

    def get_health(self):
        return self.__health  # Getter to access private attribute

# Create two Pokmon
pikachu = Pokemon("Pikachu", "Electric", 100)
charmander = Pokemon("Charmander", "Fire", 90)

print(f"{charmander.name}'s health: {charmander.get_health()}")
# Pikachu attacks Charmander
pikachu.attack(charmander, 20)
print(f"{charmander.name}'s health: {charmander.get_health()}")

Charmander's health: 90
Pikachu attacks Charmander with a power of 20 points.
Charmander's health is now 70.
Charmander's health: 70

**Inheritance**

In [70]:
class ElectricPokemon(Pokemon):
    def thunderbolt(self, target):
        print(f"{self.name} uses Thunderbolt on {target.name}!")
        self.attack(target, 25)

class FirePokemon(Pokemon):
    def flamethrower(self, target):
        print(f"{self.name} uses Flamethrower on {target.name}!")
        self.attack(target, 30)

# Create specific Pokmon
pikachu = ElectricPokemon("Pikachu", "Electric", 100)
charmander = FirePokemon("Charmander", "Fire", 90)

# Special attacks
pikachu.thunderbolt(charmander)
charmander.flamethrower(pikachu)

Pikachu uses Thunderbolt on Charmander!
Pikachu attacks Charmander with a power of 25 points.
Charmander's health is now 65.
Charmander uses Flamethrower on Pikachu!
Charmander attacks Pikachu with a power of 30 points.
Pikachu's health is now 70.

**Polymorphism**

In [74]:
class Pokemon:
    def __init__(self, name, type, health):
        self.name = name
        self.type = type
        self.health = health

    def attack(self, target):
        # This is a generic attack method. 
        # Specific Pokmon classes will override this method.
        print(f"{self.name} attacks {target.name}!")

class Pikachu(Pokemon):
    def attack(self, target):
        print(f"{self.name} uses Thunderbolt on {target.name}!")

class Charmander(Pokemon):
    def attack(self, target):
        print(f"{self.name} uses Flamethrower on {target.name}!")

class Bulbasaur(Pokemon):
    def attack(self, target):
        print(f"{self.name} uses Vine Whip on {target.name}!")

# Create Pokmon instances
pikachu = Pikachu("Pikachu", "Electric", 100)
charmander = Charmander("Charmander", "Fire", 90)
bulbasaur = Bulbasaur("Bulbasaur", "Grass", 80)

# Create a list of Pokmon
pokemon_list = [pikachu, charmander, bulbasaur]

# Make each Pokmon attack a target
for attacker in pokemon_list:
    attacker.attack(charmander)  # All will attack Charmander

Pikachu uses Thunderbolt on Charmander!
Charmander uses Flamethrower on Charmander!
Bulbasaur uses Vine Whip on Charmander!

**Abstraction**

In [75]:
from abc import ABC, abstractmethod

class Pokemon(ABC):
    def __init__(self, name, type, health):
        self.name = name
        self.type = type
        self.health = health

    @abstractmethod
    def special_move(self, target):
        pass  # Abstract method

class ElectricPokemon(Pokemon):
    def special_move(self, target):
        print(f"{self.name} uses Thunderbolt on {target.name}!")
        self.attack(target, 25)

    def attack(self, target, power):
        print(f"{self.name} attacks {target.name} with {power} power points.")
        target.health -= power

class FirePokemon(Pokemon):
    def special_move(self, target):
        print(f"{self.name} uses Flamethrower on {target.name}!")
        self.attack(target, 30)

    def attack(self, target, power):
        print(f"{self.name} attacks {target.name} with {power} power points.")
        target.health -= power

# Usage
pikachu = ElectricPokemon("Pikachu", "Electric", 100)
charmander = FirePokemon("Charmander", "Fire", 90)

pikachu.special_move(charmander)
charmander.special_move(pikachu)

Pikachu uses Thunderbolt on Charmander!
Pikachu attacks Charmander with 25 power points.
Charmander uses Flamethrower on Pikachu!
Charmander attacks Pikachu with 30 power points.

# Exercises

**Exercise 1: Variables and Types**

Create a set of variables of different types and print their types.

**Exercise 2: Type Conversion**

Convert an integer to a float and a float to an integer. Then, print the results.

**Exercise 3: Lists**

Create a list of items (e.g., groceries) and perform basic operations (add, remove, slice).

**Exercise 4: Dictionaries**

Create a dictionary to store contact information (name, phone, email).

**Exercise 5: Conditionals**

Write a program that asks for the user's age and prints a message based on the input.

**Exercise 6: Loops**

Write a program that prints the first 10 numbers in a list using a for loop.

**Exercise 7: Basic Function**

Write a function that takes two numbers as arguments and returns their sum.

**Exercise 8: Reading and writing files**

Create a JSON file with some employee data (name, age, department). 

Read the file using the methods and print them.

Change some data and save it again.

**Exercise 9: Errors and exceptions**

Generate a function that asks the user for a filename.

Use try-except to handle possible errors if the file is not present or is there are issues when reading the file.

Add a finally block.

**Exercise 10: Object oriented programming**

Library Management System

In this activity, youll build a mini-library management system where users can borrow and return books. This project will reinforce OOP principles, including classes, inheritance, polymorphism, and encapsulation.

---

## Instructions

1. **Define a `Book` Class:**
   - The `Book` class should have attributes for `title`, `author`, and `is_borrowed` (a boolean indicating if the book is currently borrowed).
   - Include methods `borrow()` and `return_book()` to update the book's status. Ensure that these methods check if the book can be borrowed or returned, respectively.

2. **Create a `Library` Class:**
   - The `Library` class should have an attribute `books`, which is a list that stores all available books.
   - Implement methods to `add_book()` and `remove_book()` from the library.
   - Add a method `list_books()` to display all books and their status (borrowed or available).

3. **Add Inheritance:**
   - Create a `DigitalLibrary` subclass of `Library` to represent a library that lends digital books.
   - Add an additional `borrow_period` attribute and a `download_link` for each book.
   - Override the `borrow()` method to display the download link and borrow period.

4. **Polymorphism with a `User` Class:**
   - Create a `User` class that can interact with the library. Users should have `name` and `borrowed_books` attributes.
   - The `User` class should include a method `borrow_book(library, book_title)` that allows the user to borrow a book from any type of library (polymorphism).
   - Also, add a `return_book(library, book_title)` method for returning books to the library.

5. **Encapsulation and Error Handling:**
   - Ensure books cant be borrowed more than once.
   - Handle potential errors, such as trying to borrow a book that doesn't exist in the library or returning a book not borrowed by the user.

---

## Example Usage

```python
# Create books
book1 = Book("The Great Gatsby", "F. Scott Fitzgerald")
book2 = Book("1984", "George Orwell")

# Create a Library and add books to it
library = Library()
library.add_book(book1)
library.add_book(book2)

# Create a user and let them interact with the library
user = User("Alice")
user.borrow_book(library, "1984")
user.return_book(library, "1984")

# List all books in the library
library.list_books()

**Project: Small Python Program**

Create a program that uses at least:
* One function.
* One conditional statement.
* A loop.
* Different data types (e.g., list, dictionary).
* Classes and objects

Example: Write a program that asks the user to input a list of expenses and then calculates the total cost.